<!DOCTYPE html>
<html lang="en">
<head>
	<title>Fav Animals</title>
	<meta charset="utf-8">
	 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
	<div id="Main">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
			<div class="container">
			<div class="navbar-collapse"  id="navbar">
					<a class="navbar-brand" href="/">Animals Website</a>
				<ul class="navbar-nav mr-5 mt-.90 ml-auto">
					<li class="nav-item">
						<a class="nav-link active" href="/">Home</a>
					</li>
				<li class="nav-item">
					<a class="nav-link" href="/favorites">Favorites</a>
				</li>
				<li class="nav-item ">
					<a class="nav-link" href="/favorites/new">Add New</a></li>
				</ul>
			
			</div>
			</div>
		</nav>
	</div>

	<div class="container text-center ">
		<div class="content">
			<h5>This website provides you list of all favorites animals with the functionality to add new animal. </h5>
			<a class="btn btn-lg bg-dark  text-white mx-4 mt-3" href="/favorites">Favorites</a>
			<a class="btn btn-lg bg-success text-white mx-4 mt-3" href="/favorites/new">Add New</a>
		</div>	
	</div>

<footer class="container-fluid bg-dark text-white text-center text-muted">
	Copyrights @ 2021
</footer>

</body>
</html>